# Week 3 Hamoye_Internship
## Supervised machinel learning(Classification)

In [7]:
# import important libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import imblearn

In [4]:
#importing the dataset from the website below
df= pd.read_csv( 'https://query.data.world/s/wh6j7rxy2hvrn4ml75ci62apk5hgae' )

C:\Users\Homet\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df=pd.read_csv('ecology.csv')

In [10]:
df.head(3)

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Armenia,1992,1,AreaPerCap,0.140292,0.199546,0.097188051,0.036888,0.029320,0.0,5.032351e-01,3A
1,Armenia,1992,1,AreaTotHA,483000.000000,687000.000000,334600,127000.000000,100943.000800,0.0,1.732543e+06,3A
2,Armenia,1992,1,BiocapPerCap,0.159804,0.135261,0.084003213,0.013742,0.033398,0.0,4.262086e-01,3A

In [11]:
df.record.value_counts()

BiocapTotGHA    9024
EFConsPerCap    9024
EFProdTotGHA    9023
EFProdPerCap    9023
AreaTotHA       9023
BiocapPerCap    9023
AreaPerCap      9023
EFConsTotGHA    9023
Name: record, dtype: int64

In [14]:
#the target label is the QScore we are trying to predict.
#to check if we are dealing with a balanced dataset we run:
df.QScore.value_counts()

3A    51481
2A    10576
2B    10096
1B       16
1A       16
Name: QScore, dtype: int64

In [15]:
df.isnull().sum()

country               0
year                  0
country_code          0
record                0
crop_land         20472
grazing_land      20472
forest_land       20472
fishing_ground    20473
built_up_land     20473
carbon            20473
total                 9
QScore                1
dtype: int64

In [19]:
#to drop rows with missing data we simply run a generic dropna
df.dropna(inplace=True)

In [20]:
df.isnull().sum()

country           0
year              0
country_code      0
record            0
crop_land         0
grazing_land      0
forest_land       0
fishing_ground    0
built_up_land     0
carbon            0
total             0
QScore            0
dtype: int64

In [22]:
df.QScore.value_counts()

3A    51473
2A      224
1A       16
Name: QScore, dtype: int64

In [24]:
#converitng the dataset from a multiclass classification to a binary classification
#this is to simplify the classification and also fix the imbalanced data.
df[ 'QScore' ] = df[ 'QScore' ].replace([ '1A' ], '2A' )

In [26]:
df.QScore.value_counts()

3A    51473
2A      240
Name: QScore, dtype: int64

In [27]:
#to further balance the dataset
df_2A = df[df.QScore== '2A' ]
df_3A = df[df.QScore== '3A' ].sample( 350 )
data_df = df_2A.append(df_3A)

In [29]:
import sklearn.utils
data_df = sklearn.utils.shuffle(data_df)
data_df = data_df.reset_index(drop= True )
data_df.shape
data_df.QScore.value_counts()

3A    350
2A    240
Name: QScore, dtype: int64

In [30]:
data_df = data_df.drop(columns=[ 'country_code' , 'country' , 'year' ]) 
X = data_df.drop(columns= 'QScore' )
y = data_df[ 'QScore' ]

In [34]:
#record is a a categorical column that needs to be encoded for the model to  read it.
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
X.record = encoder.fit_transform(X.record)

In [38]:
#spliting the data into train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [ ]:
import imblearn
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state= 1 )
x_train_balanced, y_balanced = smote.fit_sample(x_train, y_train)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_train_df = scaler.fit_transform(x_train_balanced.drop(columns=[ 'record' ]))
normalised_train_df = pd.DataFrame(normalised_train_df,
columns=x_train_balanced.drop(columns=[ 'record' ]).columns)
normalised_train_df[ 'record' ] = x_train_balanced[ 'record' ]
x_test = x_test.reset_index(drop= True )
normalised_test_df = scaler.transform(x_test.drop(columns=[ 'record' ]))
normalised_test_df = pd.DataFrame(normalised_test_df,
columns=x_test.drop(columns=[ 'record' ]).columns)
normalised_test_df[ 'record' ] = x_test[ 'record' ]